@font-face {
  font-family: 'DejaVu Sans';
  src: url('../fonts/DejaVuSans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Sans';
  src: url('../fonts/DejaVuSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Sans';
  src: url('../fonts/DejaVuSans-Oblique.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'DejaVu Sans';
  src: url('../fonts/DejaVuSans-BoldOblique.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'DejaVu Sans Mono';
  src: url('../fonts/DejaVuSansMono.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Sans Mono';
  src: url('../fonts/DejaVuSansMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --md-text-font: 'DejaVu Sans', sans-serif;
  --md-code-font: 'DejaVu Sans Mono', monospace;
}

body {
  font-family: 'DejaVu Sans', sans-serif;
}

code, pre {
  font-family: 'DejaVu Sans Mono', monospace;
}

/* used for home page author cards */
.grid.authors li {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid.authors li img {
  margin: 0 auto;
}

/* Ensure the horizontal scrollbar for tabs is always visible */
.md-tabs__list {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
  overflow-x: scroll !important;
  padding-bottom: 2px; /* Add a tiny bit of space for the scrollbar */
}

.md-tabs__list::-webkit-scrollbar {
  height: 4px;
  display: block;
}

.md-tabs__list::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.md-tabs__list::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.05);
}

